@page "{id}"
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Product Detail";
}

<h2>Read</h2>

<div class="container my-5">
    <div class="card text-center shadow-sm" style="max-width: 800px; margin: 0 auto;">
        
        <div class="card-header">
            <h2>@Model.Product.Title</h2>
        </div>

        <img src="@Model.Product.Image" alt="@Model.Product.Title" class="card-img-top img-fluid p-3" style="max-height: 400px; object-fit: cover;" />

        <div class="card-body">
            <p class="card-text">@Model.Product.Description</p>
            <a href=@Model.Product.Url class="btn btn-info" target="_blank" rel="noopener noreferrer">Visit sports/team website</a>
        </div>
     
        <div class="card-footer">
            <a asp-page="/Product/Index" class="btn btn-primary">Back to Product List</a>

        </div>
    </div>
</div>


