@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">An Error Has Occurred</h1>


<div class="alert alert-warning">
    <h3>Error Details</h3>

    <p> 
            @if (Model.ErrorCode == 0)
            {
                <strong>Unknown Error Code - </strong>
            }
            
            @if (Model.ErrorCode > 0)
            {
                <strong>Error @Model.ErrorCode</strong>
            }

            @Model.ErrorMessage
    </p>

    @if (Model.ShowRequestId)
    {
        <p> 
            <strong>Request ID:</strong> @Model.RequestId 
        </p>
    }

</div>

<div class="alert alert-info mt-4">
    <h4>Development Mode</h4>
    <p>
        Swapping to the <strong>Development</strong> environment displays detailed information about the error that occurred.
    </p>
    <p>
        <strong>Note:</strong> The <strong>Development</strong> environment shouldn't be enabled for deployed applications.
        Doing so can expose sensitive information to end users.
    </p>
    <p>
        To enable the <strong>Development</strong> environment locally, set the <strong>ASPNETCORE_ENVIRONMENT</strong>
        environment variable to <strong>Development</strong> and restart the app.
    </p>
</div>